:root {
    --border: hsla(0, 0%, 100%, 0.1);
    --dark-blue: hsl(222, 54%, 14%);
    --mid-blue: hsl(222, 54%, 17%);
    --light-blue: hsl(185, 100%, 52%);
    --orange: hsl(34, 100%, 66%);
}

html {
    background-color: var(--dark-blue);
    color: #fff;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
  }

blockquote {
    font-size: 2rem;
    /* font-weight: 700; */
    margin: 0 0 2rem 0;
}

body {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

h1, h2, h3, h4 {
    font-weight: 700;
    margin: 0 0 1rem 0;
}

a {
    color:var(--orange);
}

footer {
    padding: 4rem 0 4rem 0;
    background-color: rgb(0,0,0,0.4);
    margin-top: 4rem;
}

figure {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    width: 100%;
}

main {
    margin: 0 3rem;
    padding: 3rem 3rem 0 3rem;
}

p {
    margin: 1rem 0 2rem 0;
}

section {
    padding: 0 0 8rem 0;
}


.aligned-center {
    text-align: center;
}

.body-l {
    font-size: 1.5rem;
}

.body-xs {
    font-size: 1rem;
}

.border-bottom {
    border-bottom: 1px solid var(--border);
    /* margin: 0 0 2rem 0;
    padding: 0 0 4rem 0; */
}

.border-radius-s {
    border-radius: 8px;
}

.caption-partial-width {
    max-width: 75%;
}

.case-study-hero {
    align-content: center;
    height: 60vh;
    margin: auto;
    text-align: center;

    p {
        margin: 3rem 0 3rem 0;
    }
}

.category-heading {
    display: block;
}

.centred-partial-width {
    margin: auto;
    max-width: 40rem;

}

.heading-l {
    font-size: 6rem;
    line-height: 1.2;
}

.heading-m {
    font-size: 2rem;
}

.heading-s {
    font-size: 1rem;
    margin: 2rem 0 0 0;
}

.hero {
    align-content: center;
    height: 90vh;
    margin: auto;

    p {
        margin: 3rem 0 3rem 0;
    }
}

.home-link {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
    text-decoration: none;
}

.inline-list {
    padding: 0;

    li + li::before {
        content: "|";
        color: rgb(255,255,255,0.1); 
        color: var(--light-blue);
        padding: 1rem;
    }

    li {
        display: inline-block;
        margin: 0 0 0 0;
    }
}

.image-padding {
    display: flex;
    align-items: center;
    justify-content: right;
}

.image-padding > img {
    height: auto;
    width: 85%;
}

.img-section {
    padding: 0 0 12rem 0;
}

.inset-image {
    width: 30%;
    border-radius: 8px;
    float: left;
    margin-right: 3rem;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.no-bullets {
    list-style-type: none;
    padding: 0;

    li {
        margin-bottom: 1rem;
    }
}

.number {
    align-items: center;
    border: 1px solid var(--light-blue);
    border-radius: 50%;
    color: var(--light-blue);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 300;
    height: 2rem;
    justify-content: center;
    margin: 0 1rem 0 0;
    position: relative;
    top: -0.3rem;
    width: 2rem;
}

.primary-color {
    color: var(--light-blue);
}

.padding-top-two {
    padding-top: 2rem;
}

.padding-bottom-four {
    padding-bottom: 4rem;
}

.padding-bottom-eight {
    padding-bottom: 8rem;
}

.padding-bottom-zero {
    padding-bottom: 0;
}

.padding-left-inset {
    padding-left: 49px
}

.project-section {
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}

.quick-summary {
    /* background-color: rgb(255,255,255,0.03); */
    background-color: var(--mid-blue);
    padding: 1rem 2rem 1rem 2rem;
    /* border: 1px solid var(--light-blue); */
    border-radius: 24px;
}

.quick-summary-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.quick-summary-body > *:nth-child(1) {
    width: 50%;
}

.quick-summary-body > *:nth-child(2) {
    display: block;
    /* padding-top: 2rem; */
    width: 45%;

    img {
        width: 100%;
        height: auto;
    }
}

.secondary-color {
    color: var(--orange);
}

.section-heading {
    border-bottom: 1px solid var(--light-blue);
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0 0 2rem 0;
}

.staggered-heading {
    margin: 0 0 2rem 0;
    /* max-width: 56rem; */
    text-align: center;

    h1 {
        margin: 0;

    }

    h2 {
        margin: 0;
    }
}

.top-nav {
    padding: 0;
}


.two-column {
    display: flex;
    align-items: top;
    gap: 24px;
}

.two-column > * {
    width: 50%;
}

.img-container > img {
    max-width: 100%;
}

@media only screen and (max-width: 479px) {
    main {
        margin: auto;        
        max-width: 100%;
        padding: 1rem;
    }

    footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .body-l {
        font-size: 1.25rem;
    }    

    .caption-partial-width {
        max-width: 100%;
    }

    .heading-l {
        font-size: 3rem;
        line-height: 1.2;
    }

    .inline-list {
        padding: 0;
    
        li + li::before {
            content: "";
            padding: 0;
        }
    
        li {
            display: block;
            margin: 0 0 0 0;
        }
    }    

    .inset-image {
        width: 40%;
        border-radius: 24px;
        float: left;
        margin-right: 1.2rem;
    }

    .quick-summary {
        padding: 1rem;
    }
}

@media only screen and (max-width: 991px) {

    blockquote {
        margin: 0 0 4rem 0;
    }

    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .centred-partial-width {
        margin: auto;
        max-width: 100%;
    
    }

    .img-section {
        padding-bottom: 4rem;
    }

    .image-padding {
        justify-content: center;
    }
    
    .image-padding > img {
        height: auto;
        width: 100%;
    }

    .padding-left-inset {
        padding-left: 0;
    }

    .quick-summary-body {
        text-align: center;
    }

    .quick-summary-body > *:nth-child(1) {
        width: 100%;
    }
    
    .quick-summary-body > *:nth-child(2) {
        width: 100%;
    }

    .two-column.project-section {
        gap: 2rem;
    }

    .two-column {
        flex-direction: column;
        gap: 4rem;
    }

    .two-column > * {
        width: 100%;
    }

}

@media only screen and (min-width: 480px) and (max-width: 991px) {

    main {
        margin: auto;        
        padding: auto;
        width: 80%;
    }

}
    

@media only screen and (min-width: 992px) {

    main {
        margin: auto;
        max-width: 1260px;
    }

    .image-padding > img {
        height: auto;
        width: 95%;
    }
}

.color-animation {
    animation-name: glow-in;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0.1;
}

.color-animation-two {
    animation-name: glow-in-two;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1.2s;
    opacity: 0.1;
}

.color-animation-three {
    animation-name: glow-in-three;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1.9s;
    opacity: 0.05;
}

/* .border-animation {
    animation-fill-mode: forwards;
    animation: border-color linear;
    animation-timeline: view();
  }

@keyframes border-color {
    50% {border-color: var(--light-blue);}
    70% {border-color: var(--light-blue);}
} */

@keyframes glow-in {
    10% {opacity: 0.3;}
    50% {opacity: 1;}
    /* 50% {color: hsla(34, 100%, 90%, 1)}; */
    100% {color: var(--orange);}
    100% {opacity: 1}
}

@keyframes glow-in-two {
    50% {opacity: 1;}
    /* 50% {color: hsla(185, 100%, 90%);} */
    100% {color: var(--light-blue);}
    100% {opacity: 1;}
}

@keyframes glow-in-three {
    100% {opacity: 1;}
}

.diagonal-background {
    background: repeating-linear-gradient(135deg,
        hsla(0, 0%, 100%, 0.1) 0, hsla(0, 0%, 100%, 0.1) 1px,
        hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 0%, 0) 10px 
    );
}