<footer class="aligned-center footer">           
    <h2 class="heading-m">Looking for a Product Designer?
    </h2>          
        <div class="footer-text">
            <p>Feel free to get in contact with any queries. Thanks for stopping by!</p>
            <ul class="inline-list">
                <li><a href="mailto:simcast8@gmail.com" target="_blank">Email</a></li>
                <li><a href="https://www.linkedin.com/in/castillosimon/" target="_blank">LinkedIn</a></li>
            </ul>
        <div class="footer-body">      
            <p class="body-xs">&copy; 2025. Design and code by Simon Castillo.</p>
            <!-- <img src={peace.src} alt="A peace hand emoji." class="border-radius-s animate"> -->
            
        </div>
    </div>
</footer>